/* ==============================
         header section
===============================*/
/* ----------------------------- 991px ----------------------*/
@media (max-width: 991px) {
  header h1 {
    font-size: 2.5rem;
  }
  header p {
    font-size: 1.1rem;
  }
  .navbar-collapse {
    margin-top: 35px;
  }
}
/* ----------------------------- 767px ----------------------*/
@media (max-width: 767px) {
  .head-right {
    text-align: center;
  }
  .head-right p {
    margin-bottom: 3rem;
  }
}
/* ==============================
         about us section
===============================*/
/* ----------------------------- 991px ----------------------*/
@media (max-width: 991px) {
  .h3 {
    font-size: 1.2rem;
    line-height: 25px;
  }
}
/* ----------------------------- 767px ----------------------*/
@media (max-width: 767px) {
  .about-right {
    text-align: center;
  }
  .h3 {
    font-size: 1.1rem;
    line-height: 35px;
  }
  .about-section {
    padding: 0 !important;
  }
  .about-right h2 {
    margin-bottom: 1.5rem !important;
  }
}
/* ==============================
        quality section
===============================*/
/* ----------------------------- 1100px ----------------------*/
@media (max-width: 1100px) {
  .quality-section .quality-right {
    top: 9%;
    left: 4%;
  }
}
/* ----------------------------- 991px ----------------------*/
@media (max-width: 991px) {
  .quality-section .quality-right {
    top: 18%;
    left: 4%;
    padding: 4rem !important;
  }
}
/* ----------------------------- 820px ----------------------*/
@media (max-width: 820px) {
  .quality-section .quality-right {
    top: 12%;
  }
}
/* ----------------------------- 767px ----------------------*/
@media (max-width: 767px) {
  .quality-section .q-img1 {
    display: none;
  }
  .quality-section .q-img2 {
    display: none;
  }
  .quality-section .q-img3 {
    display: none;
  }
  .quality-section .quality-right {
    text-align: center;
  }
  .quality-section {
    display: none;
  }
  .quality-section-2 {
    display: block !important;
    background-color: #e58f00;
    text-align: center;
    padding: 4rem 0;
  }
}
